:root {
   --azul-forte: #03045E;
   --azul-roxo: #3A0CA3;
   --branco-azulado: #EBEFF5;
}

*{
   margin: 0;
   padding: 0;
}

.cabecalho{
    background-color: var(--azul-forte);
    display: flex;
    justify-content: space-between;
}

.menu-item{
    display: inline-block;
    padding: 15px;
    margin-top: 25px;
    color: var(--branco-azulado);
    font-size: 25px; 
}

.logo{
    width: 12%;
    margin: 7px;
}

.principal{
    background-color: var(--branco-azulado);
    background-image: linear-gradient(var(--azul-forte),var(--branco-azulado));
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal-texto{
    padding: 70px;
    font-size: 25px;
    font-size: 20px;
}
.principal-titulo{
    margin: 45px;
    font-size: 30%;
    padding: 15px;
}
.principal-imagem{
    width: 70px;
    margin: 10px;
    padding: 10px;
}